body {
    margin: 0;
    background-color: black;
    color: white;
    position: absolute;
    top:  50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

h1 {
    font-size: 4vmin;
}

h2 {
    font-size: 4vmin;
}

div {
    display: flex;
    align-items: center;
    justify-content: center;
}

.material-symbols-outlined {
    font-size: 4vmin;
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 48
}